html, body {
	padding-top: 2rem;
	max-height: 100%;
	margin: 0;
	position: relative;
	background-color: #666f6f !important;
	color: #16b !important;
	font-family: 'Asap', sans-serif !important;
	text-align: center;
}

.face-row div:hover {
	background-color: #000;
}

.face-wrapper {
	height: 14rem;
	width: 12rem;
	margin: 0 auto;
}

.face-wrapper:hover {
	cursor: none;
}

/*.mouth:hover {

	padding-top: 1rem;
	cursor: none;
}*/

.face-div {
	text-align: center;
	padding-top: 4rem;
}

.face-pic {
	width: 240px;
}

.html-face {
	text-align: center;
	height: 4rem;
	width: 100%;
}

.face-row {
	display: block;
	padding: 0;
	text-align: center;
	font-size: 0;
}

.hair {
	display: inline-block;
	height: 1rem;
	width: 1rem;
	background-color: #523c03;
	margin: 0px;
}

.skin {
	display: inline-block;
	height: 1rem;
	width: 1rem;
	background-color: #f7e7e2;
	margin: 0px;
}

.glasses {
	display: inline-block;
	height: 1rem;
	width: 1rem;
	background-color: #000;
	margin: 0px;
}
.eyes {
	display: inline-block;
	height: 1rem;
	width: 1rem;
	background-color: #fff;
	margin: 0px;
}

.nose {
	display: inline-block;
	height: 1rem;
	width: 1rem;
	background-color: #c7b5af;
	margin: 0px;
}

.music {
	height: 100%;
	width: 100vw;
	float: left;
}

.music > span {
	padding: 2rem;
}

.soundcloud-widget {
	width: 40%;
	height: 50%;
	vertical-align: middle;
	display: inline-block;
	padding-top: 3rem;
}

.music > span > div {
	height: 40%;
	width: 40%;
	display: inline-block;
	vertical-align: top;
}

.business-card {
	padding: 20vh 0 1rem;
	text-align: center;
}

.business-card > .social {
	padding: 1rem 0 0;
	display: block;
	position: relative;
	text-align: center;
	font-size: 3rem;
}

.social > span > a {
	color: rgba(0, 0, 0, 0);
	text-decoration: none;
	display: inline-block;
	margin: 0 0.6rem;
}

.social > span > a:hover, .hoveredicon {
	text-decoration: none;
	-webkit-transform: rotate(5deg);
	-moz-transition: rotate(5deg);
    -o-transition: rotate(5deg);
    transition: rotate(5deg);
}

.name {
	font-weight: 700;
	font-style: italic;
	font-size: 6rem;
	left: 0;
	right: 0;
	padding-bottom: 0.5rem;
}

.tighter-kerning-v1 {
	letter-spacing: -0.2rem;
}

.tighter-kerning-v2 {
	letter-spacing: -0.7rem;
}

.content-links {
	padding-top: 1rem;
	text-align: center;
	vertical-align: inline-block;
	font-size: 2rem;
}

.extra-padding {
	padding: 5rem;
}

.content-links > a {
	margin: 0 2rem;
	text-decoration: none;
}



@media only screen and (max-width: 480px) {

	.business-card {
		padding: 25vh 0 1rem;
	}
	
	html {
		font-size: 12px;
	}

	.name {
		font-size: 4rem;
	}

	.tighter-kerning-v1 {
		letter-spacing: 0rem;
	}

	.tighter-kerning-v2 {
		letter-spacing: -0.3rem;
	}

	.business-card > .social {
		padding: 2rem 0 0;
	}

}
