html, body {
	padding-top: 2rem;
	max-height: 100%;
	margin: 0;
	position: relative;
	background-color: #ccc !important;
	text-align: center;
}


#face-wrapper {
	height: 14rem;
	width: 12rem;
	margin: 0 auto;
}

.face-row {
	display: block;
	padding: 0;
	text-align: center;
	font-size: 0;
}

.face-row div {
	height: 1rem;
	width: 1rem;
	margin: 0;
	display: inline-block;
}

.hair {
	display: inline-block;
	height: 1rem;
	width: 1rem;
	background-color: #3f2808;
	margin: 0px;
}

.skin {
	display: inline-block;
	height: 1rem;
	width: 1rem;
	background-color: #f7e7e2;
	margin: 0px;
}

.glasses {
	display: inline-block;
	height: 1rem;
	width: 1rem;
	background-color: #000;
	margin: 0px;
}

.eyes {
	display: inline-block;
	height: 1rem;
	width: 1rem;
	background-color: #fff;
	margin: 0px;
}

.nose {
	display: inline-block;
	height: 1rem;
	width: 1rem;
	background-color: #e7d7d2;
	margin: 0px;
}

.empty {
	display: inline-block;
	height: 1rem;
	width: 1rem;
	background-color: rgba(0, 0, 0, 0);
	margin: 0px;
}

.business-card {
	padding: 10vh 0 1rem;
	text-align: center;
}

.business-card > .social {
	padding: 1rem 0 0;
	display: block;
	position: relative;
	text-align: center;
	font-size: 3rem;
}

.social > span > a {
	color: #5070a0;
	text-decoration: none;
	display: inline-block;
	margin: 0 1.4rem;
	text-shadow: 5px 5px 5px #b0bbbb;
	transition: 0.15s all;
}

.social > span > a:hover, .hoveredicon {
	text-decoration: none;
	-webkit-transform: translate(2px, 2px);
	-moz-transform: translate(2px, 2px);
	-o-transform: translate(2px, 2px);
	transform: translate(2px, 2px);
	text-shadow: 3px 3px 3px #9aa;
}


@media only screen and (max-width: 480px) {

	.business-card {
		padding: 15vh 0 1rem;
	}
	
	html {
		font-size: 12px;
	}

	.business-card > .social {
		padding: 2rem 0 0;
	}

	.box-2 {
		height: 100px;
		width: 100px;
	}

}
