html, body, div {
  margin: 0;
  padding: 0;
}

*::selection { // hell yeah
  background-color: #eee;
}

.links {
  color: #fff;
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 20;

  a {
    border-bottom: 2px solid transparent;
    color: white;
    padding-bottom: 5px;
    margin: 0 1rem;
    text-decoration: none;
    transition: 0.1s ease all;
    -webkit-transition: 0.1s ease all;

    &:hover:not(.active) {
      border-bottom: 2px solid #fff;
      padding-bottom: 1px;
      transition: 0.2s ease all;
      -webkit-transition: 0.2s ease all;
    }
  }
}

.animating {
  -webkit-backface-visibility: hidden;
   -moz-backface-visibility: hidden;
   -ms-backface-visibility: hidden;
   backface-visibility: hidden;

   -webkit-perspective: 1000;
   -moz-perspective: 1000;
   -ms-perspective: 1000;
   perspective: 1000;
}
