@import 'colors';
@import 'base';
@import 'nav';

html, body {
  font-family: Roboto Condensed;
  height: 100%;
}

body {
  min-height: 100%;
}

.nice-background {
  @extend .animating;
  animation: background-gradient 8s ease infinite;
  -webkit-animation: background-gradient 8s ease infinite;
  // background: linear-gradient(270deg, #4FFCEF, #EA5CF5, #eff46f, #fb424d);
  background: linear-gradient(270deg, #FFFCEF, #EAFCF5, #eff4ff, #fbf2fd);
  background-size: 400% 400%;
  box-shadow: inset 0 0 50px 2px #fcfcfc, inset 2px 2px 200px 20px #f6f6f6;
  position: relative;
  width: 100%;
}

.nav {
  @extend .animating;

  animation: fade-in 1s ease both;
  -webkit-animation: fade-in 1s ease both;
  position: relative;
}

.statement {
  @extend .animating;

  animation: fade-in-scale 1s 0.25s ease both;
  -webkit-animation: fade-in-scale 1s 0.25s ease both;
  color: $warm-gray;
  font-size: 2rem;
  letter-spacing: 0.5px;
  line-height: 1.42;
  margin: 0 auto;
  padding: 7rem 2rem 9rem; // lol
  max-width: 640px;
  width: 80%;

  p:first-child {
    margin-top: 0;
  }

  p:last-child {
    margin-bottom: 0;
  }

  a {
    border-bottom: 2px solid;
    color: #dad;
    padding-bottom: 1px;
    text-decoration: none;

    &:hover {
      border-bottom: 4px solid;
      padding-bottom: 0;
    }
  }
}

.bruhzzfeed {
  background: url(/Users/evantarrh/workin/evantarrh.github.io/img/bf-article.png) no-repeat top center;
}

.project {
  width: 100%;
  padding: 5rem 0;

  .info h3 {
    background-color: #a9b;
    border-radius: 3px;
    color: white;
    font-family: Source Code Pro;
    font-size: 2.5rem;
    letter-spacing: 5px;
    padding: 5px 20px;
    text-align: center;
  }
}


@keyframes background-gradient {
  0%{ background-position:0% 50%; }
  50%{ background-position:100% 50%; }
  100%{ background-position:0% 50%; }
}

@-webkit-keyframes background-gradient {
  0%{ background-position:0% 50%; }
  50%{ background-position:100% 50%; }
  100%{ background-position:0% 50%; }
}


@keyframes fade-in {
  0%{ opacity: 0; }
  100%{ opacity: 1; }
}

@keyframes fade-in-scale {
  0%{ opacity: 0; transform: scale(0.97) }
  100%{ opacity: 1; transform: scale(1) }
}

@media (max-width: 540px) {
  .statement {
    font-size: 1.5rem;
  }
}

@media (max-width: 420px) {
  .statement {
    font-size: 1.25rem;
  }
}
