{{#extend "base"}}
{{#content "title" mode="prepend"}}| oneline{{/content}}
{{#content "body-class" mode="prepend"}}home{{/content}}


{{#content "main" mode="prepend"}}
    <div class="nav">
      <a class="code" href="/">Code</a>
      <span></span>
      <a class="music active" href="/music">Music</a>
    </div>
    <div class="letters">
      <div class="letter-wrapper"></div>
      <div class="letter-wrapper">
        <div class="letter">o</div>
      </div>
      <div class="letter-wrapper">
        <div class="letter">n</div>
      </div>
      <div class="letter-wrapper">
        <div class="letter">e</div>
      </div>
      <div class="letter-wrapper">
        <div class="letter">l</div>
      </div>
      <div class="letter-wrapper">
        <div class="letter">i</div>
      </div>
      <div class="letter-wrapper">
        <div class="letter">n</div>
      </div>
      <div class="letter-wrapper">
        <div class="letter">e</div>
      </div>
      <div class="letter-wrapper">
      </div>
    </div>
    <div class="social">
      <a href="https://soundcloud.com/1line">soundcloud</a>
      <a href="mailto:onelinenoise@gmail.com">email</a>
      <a href="https://twitter.com/evantarrh">twitter</a>
    </div>

{{/content}}
{{/extend}}

