@import 'colors';
@import 'base';
@import 'nav';
@import 'code';
@import 'folio';

$ease-function: cubic-bezier(.68,.1,.11,.99);

html, body {
  font-family: Source Code Pro;
  height: 100%;
  position: relative;
  width: 100%;

  &.home {
    overflow: hidden;
  }
}

body {
  min-height: 100%;
}

footer {
  height: auto !important;
  padding: 4rem 0 4rem;
  text-align: center;
  text-transform: uppercase;
  transition: 0.2s ease all;
  width: 100%;

  p {
    color: #667;
    font-size: 0.875rem;
    letter-spacing: 1px;
    line-height: 2;
    margin: 0 auto;
    width: 80%;
  }

  a {
    border-bottom: 2px solid transparent;
    color: $warm-gray;
    font-size: 1rem;
    padding-bottom: 5px;
    text-decoration: none;
    transition: 0.2s ease all;

    .letterspacing-fix {
      letter-spacing: normal;
    }

    &:hover, &.hover-fx {
      border-bottom: 2px solid $warm-gray;
      padding-bottom: 1px;
    }
  }
}

.social {
  @extend .links;

  background: linear-gradient(to right, #777, #fff 37.5%, #111 62.5%);
  background-size: 400%;
  bottom: 0;
  font-size: 1.25rem;
  line-height: 4rem;
  text-align: center;
  width: 100%;

  animation: social-links 1.5s 2.5s both ease;
}

.letters {
  background-color: nth($oneline-colors, 1);
  font-size: 0;
  height: 100%;
  width: 100%;
}

.letter {
  font-size: 5rem;
  position: absolute;
  top: 50%;
}

div.letter-wrapper {
  display: inline-block;
  font-size: 1rem;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  transform: skew(10deg);
  vertical-align: top;
  width: 12.5%;

  &:first-child {
    background-color: nth($oneline-colors, 1);
    z-index: 17;
  }

  &:last-child {
    animation: right-bg 1.6s 0.4s both ease;
    background-color: #fff;
    position: absolute;
    right: -190px; // i'm sorry
    width: 200px;
  }
}

.ev {
  height: 11rem;
  margin-bottom: 2rem;
}

.content {
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.corner-link {
  @extend .links;
  width: auto;
  font-size: 0.8rem;

  bottom: 0;
  right: 0;
  position: absolute;
  margin: 1rem;

  a {
    text-decoration: none;
    color: $neutral-gray;

    &.active {
      background-color: $neutral-gray;
      color: #fff;
    }

    &:hover:not(.active) {
      border-bottom: 1px solid $neutral-gray;
    }
  }
}

.gem {
  // do this in HTML to make relative path work
  // background: url(img/gem_med.png);
  display: inline-block;
  background-size: cover;
  height: 1rem;
  width: 1rem;
  display: inline-block;
  margin: 0 1.5rem;
  transform: translateY(20%);
}

@for $i from 2 through length($oneline-colors) {
  .letter-wrapper:nth-child(#{length($oneline-colors)}n + #{$i}) {
    animation: block-#{$i} #{$i * 0.2}s #{$i * .05}s both ease;
    -webkit-animation: block-#{$i} #{$i * 0.2}s #{$i * .05}s both ease;
    background-color: nth($oneline-colors, $i);
    height: 100%;
    width: 12.5%;
    z-index: 16 - ($i * 2);

    .letter {
      color: nth($oneline-colors, 9 - $i);
      z-index: 17 - ($i * 2);
    }
  }
}

.letter {
  animation: letter 1s 1s both ease;
  -webkit-animation: letter 1s 1s both ease;
}

@keyframes letter {
  0% {
    opacity: 0;
    transform: skew(-10deg) translate3d(-80px, -50%, 0);
    -webkit-transform: skew(-10deg) translate3d(-80px, -50%, 0);
  }

  20% {
    opacity: 0;
  }

  36% {
    opacity: 1;
  }

  50% {
    transform: skew(-10deg) translate3d(-25px, -50%, 0);
    -webkit-transform: skew(-10deg) translate3d(-25px, -50%, 0);
  }

  100% {
    transform: skew(-10deg) translate3d(-22px, -50%, 0);
    -webkit-transform: skew(-10deg) translate3d(-22px, -50%, 0);
  }
}

@for $i from 1 through length($oneline-colors) {
  @keyframes block-#{$i} {
    0% { background-color: nth($oneline-colors, 2);
         transform: skew(10deg) translate3d(#{10 * $i}px, 0, 0);
         -webkit-transform: skew(10deg) translate3d(#{10 * $i}px, 0, 0);
    }
    75% { background-color: nth($oneline-colors, $i); }
    100% { transform: skew(10deg) translate3d(0, 0, 0);
          -webkit-transform: skew(10deg) translate3d(0, 0, 0);
    }
  }
}

@keyframes right-bg {
  0% { background: nth($oneline-colors, 2) }
  75% { background: nth($oneline-colors, 8) }
  100% { background: nth($oneline-colors, 8) }
}

@keyframes nav-links {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes social-links {
  0% { transform: translate3d(0, 100%, 0); background-position: 25% 50%; opacity: 0.5}
  50% { transform: translate3d(0, 0, 0); }
  100% { background-position: 50% 50%; opacity: 1}
}

@keyframes link-hover {
  0% { padding-bottom: 5px; border-bottom: 2px solid transparent }
  100% { padding-bottom: 1px; border-bottom: 2px solid #fff }
}

@keyframes shrink-letters {
  0% { height: 100%; }
  100% { height: 50%; }
}

@media(max-width: 480px) {
  html, body {
    font-size: 12px;
  }

  .social {
    font-size: 1.25rem;
  }

  .nav {
    font-size: 1.5rem;
    top: 0 !important;
    transform: translateX(-50%) !important;
    margin-bottom: 3rem;

    a {
      padding-bottom: 1px;
      border-bottom: 2px solid $warm-gray;

      &:hover, &.hover-fx {
        border-bottom: 1px solid $warm-gray;
        padding-bottom: 2px;
      }
    }

    span {
      display: block;
      margin: 1.5rem auto;
    }
  }

  .gem {
    display: block;
    margin: 1rem auto;
  }
}
