{{#extend "base"}}
{{#content "title" mode="prepend"}}
| evan codes
{{/content}}

{{#content "main" mode="prepend"}}
    <div class="nice-background">
      <div class="nav code-nav">
        <a class="music" href="/../">Music</a>
        <span></span>
        <a class="code active" href="/code">Code</a>
      </div>
      <div class="statement">
        <p>Hi! I&apos;m Evan. I&apos;m a security feature engineer at <a href="https://fitbit.com">Fitbit</a> for the summer, and I&apos;ve previously worked as a web developer with <a href="https://everlane.com">Everlane</a>. I make music under the name <a href="/">Oneline</a>.</p>
        <p>I design and build websites for people. <a href="mailto:evantarrh@gmail.com">Send me an email</a> and let&apos;s chat.</p>
      </div>
    </div>

    <div class="project bruhzzfeed">
      <div class="info">
        <h3>Bruhzzfeed</h3>
      </div>
    </div>
{{/content}}
{{/extend}}
